@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-color-light: red;
  --background-color-light: #fff;
  --foreground-color-dark: #fff;
  --background-color-dark: red;
}

body {
  color: (var(--foreground-color-light));
  background-color: (var(--background-color-light));
}

[data-theme="dark"] body {
  color: (var(--foreground-color-dark));
  background-color: (var(--background-color-dark));
} */

.section-height {
  height: calc(100vh - var(--navbar-height));
}

.main-container {
  @apply w-full xl:w-10/12 flex flex-col text-xl;
}

.clean-button {
  @apply w-72 min-h-[60px] px-4 py-1 flex justify-center items-center rounded-lg border border-black dark:border-white text-xl text-center  hover:bg-neutral-200 dark:hover:bg-dusky-400 focus:outline-none focus:ring-2 focus:ring-neutral-700 focus:ring-opacity-50;
}

.black-button {
  @apply w-72 min-h-[66px] px-4 py-1 flex justify-center items-center rounded-lg border border-dusky-600 text-white text-xl text-center  bg-black hover:bg-dusky-800 hover:bg-opacity-80 focus:outline-none focus:ring-2 focus:ring-neutral-700 focus:ring-opacity-50;
}

.pool-button {
  @apply w-72 px-4 py-1 rounded-lg bg-pool-600 text-white  hover:bg-pool-600 focus:outline-none focus:ring-2 focus:ring-pool-700 focus:ring-opacity-50 text-xl text-center;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 15px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #293038;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #51585f;
  border-radius: 5px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5f6870;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
